version: '3.4'

services:
  application:
    image: ${DOCKER_REGISTRY-}application
    container_name: techchallenge.api
    build:
      context: .
      dockerfile: Application/Dockerfile
    ports:
        - "5000:5000"
        - "5001:5001"

  techchallenge.database:
    image: postgres:latest
    container_name: techchallenge.database
    environment: 
        - POSTGRES_DB=postgres
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres
    volumes:
        - ./.containers/techchallenge-db:/var/lib/postegresql/data
    ports:
        - "5432:5432"

  techchallenge.rabbitMQ:
    image: masstransit/rabbitmq
    container_name: techchallenge.rabbitMQ
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
       - 5672:5672
       - 15672:15672